VITE_SUPABASE_URL=https://ccderytqghikbswfutfp.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_6mtPuN4Gd61FEP9yx_AVEw_591xGQ1L
VITE_GOOGLE_CLIENT_ID=190518949394-i86r2c8814ehnsc3aiu06fp6op0d569g.apps.googleusercontent.com
